.columnHeader{
	background-color: #64B5F6;
	font-size: 2.5vh;
	text-transform: capitalize;
	color: white;
	font-family: "Roboto";
	font-weight: 300;
}



.inbox{
	background-color: #00AAFF;
}

.inprogress{
	background-color: #FFD500;
}
.terminate{
	background-color: #8ACC47;
}
.history{
	background-color: #98AAB3;
}

i{
	margin-right: 10px;
	/*margin-left: 10px;*/
}


.plus{
	color: #EDF1F3;
	background-color: white;
	padding: 3px;
	margin-top: 5px;
}
